.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.app-header {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu-element {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
}

::ng-deep .card-body {
    padding: 0 0 0 0;
}
