<div *ngIf="!(arViewerStore.state$ | async).arVisible">
    <!-- <div class="app-header" >
        <button type="button" class="btn btn-outline-primary right" (click)="setArVisibility(true)">SetArViewer</button>  
        <button type="button" class="btn btn-outline-primary left" (click)="toggleArVisibility()">ToggleArViewer</button>
    </div> -->
    <!-- <div></div> -->
    <accordion [closeOthers]="true">        
        <accordion-group *ngFor="let foodGroup of foodGroups" heading="{{foodGroup.title}}">         
            <div *ngFor="let element of foodGroup.elements" (click)="navigate(element);" class="menu-element btn btn-outline-primary ">{{element}}</div>
        </accordion-group>
    </accordion>
</div>