$headerHeight: 10%;
$contentHeight: 100%;
$progressBarHeight: 6%;

.fmr-rotate-button {    
    height:100%;     
    align-content: center;
    max-width: 20%;
    width: 20%;
    opacity: 0.5;
    background-color: transparent;
    border:transparent;

    &.left {         
        float:left; 
    }

    &.right { 
        transform: rotate(180deg);
        float:right; 
    }
}

@mixin fmr-center($width: 100%) {
    width: $width;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fmr-center-arrow {
    @include fmr-center;
}

.fmr-center-progressbar {
    @include fmr-center(60%);    
    display: inline-block;    
    margin-left: auto;
    margin-right: auto;
    height: $progressBarHeight;
}

.fmr-progressbar-height {
    height: 100%;
}

.fmr-viewer-header {
    height: $headerHeight;
}

.fmr-viewer-content {
    height: $contentHeight;
}