
<section *ngIf="isArVisible">
    <button (click)=goBackToMenu() class="center btn btn-outline-primary ">Main Menu</button>
</section>
<section *ngIf="isArVisible" class="fmr-viewer-content">
    <div *ngIf="(loaderStore.state$ | async).isLoading" class="progress fmr-center-progressbar" >
        <div class="progress-bar fmr-progressbar-height" 
            role="progressbar" 
            [ngStyle]="{'width.%': ((loaderStore.state$ | async).loadingProgress)}" 
            aria-valuenow="((loaderStore.state$ | async).loadingProgress)" 
            aria-valuemin="0" aria-valuemax="100">
            {{((loaderStore.state$ | async).loadingProgress)}}% loaded
        </div>
    </div>
    
    <div longPress longPressAfterMs='100' class="btn fmr-rotate-button left" (onHold)=rotateScene(true)>
        <img class="fmr-center-arrow" src="assets/arrow-left2.png">
    </div> 

    <div longPress longPressAfterMs='100' class="btn fmr-rotate-button right" (onHold)=rotateScene()>
        <img class="fmr-center-arrow" src="assets/arrow-left2.png">
    </div>
</section>